@model EditTeamViewModel
@using SoftballStats.ViewModels

<h1 class="text-center"> Edit Team @Model.TeamName</h1>

<div class="container d-flex justify-content-center">
    <form asp-action="Edit" asp-controller="Teams" method="post" enctype="multipart/form-data" class="w-50">
        <input type="hidden" id="TeamID" name="TeamID" asp-for="TeamID" />
        <input type="hidden" id="UserID" name="UserID" asp-for="UserID" />

        <div class="row">
            <!-- Left Column -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Image" class="form-label">Team Logo</label>
                    <input type="file" asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>

            <!-- Right Column -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="TeamName" class="form-label">Team Name</label>
                    <input type="text" asp-for="TeamName" class="form-control" placeholder="Team name" />
                    <span asp-validation-for="TeamName" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
